:root {
    font-size: 1rem;
}
a {
    cursor: pointer;
    color: #365899;
}
a.no-decoration:hover {
    text-decoration: none;
}
input[type="radio"] {
    cursor: pointer;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-w-14 {
    width: 0.875em;
}
svg:not(:root) {
    overflow: hidden;
}
.fa-1x {
    font-size: 1em;
}
.fa-2x {
    font-size: 2em;
}
.fa-3x {
    font-size: 3em;
}

/* ========= three dot icon ========= */
.three-dot-circle .dot {
    width: .25em;
    height: .25em;
    display: inline-block;
    border-radius: 50%;
    background-color: #717880
}
.three-dot-circle .dot + .dot {
    margin-left: .2em;
}
/* ========= end three dot icon ========= */


img.circle {
    border-radius: 50%;
}
.p-image-wrapper {
    width: 100%;
    position: relative;
    display: block;
}
.p-image-wrapper > img {
    width: 100%;
    top: 0;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
}
.image-21-9 {
    padding-top: calc(100% * 9 / 21);
}
.image-5-2 {
    padding-top: calc(100% * 2 / 5);
}

/* ========= custom modal ========= */
.modal--center.modal {
    text-align: center;
    padding: 0!important;
}
.modal--center.modal:before {
    vertical-align: middle;
    margin-right: -4px;
    height: 100%;
    display: inline-block;
    content: '';
}
.modal--center .modal-dialog {
    vertical-align: middle;
    text-align: left;
    display: inline-block;
}
/* ========= end custom modal ========= */

.social-network-button {
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    padding: 0 8px;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    color: #4b4f56;
    border-radius: 2px;
    border: 1px solid #ccd0d5;
    background-color: #f5f6f7;
    align-items: center;
}
.social-network-button .sn-icon {
    margin-right: 4px;
}

.nda-color {
    color: #0096ff;
}
