body {
    padding-top: 2.8125em;
    font-size: 1rem;
    background-color: #e9ebee;
}
body .mainContent .scroll-to-fixed-fixed, .create-ads-modal {
    font-size: .75rem;
}
.text-blue {
    color: #0096ff !important;
}
.text-grey {
    color: #90949c;
}

.main .main__inner {
    font-size: 12px;
}
.main .main__inner .mainContent {
    position: relative;
}

.whiteBox .infoDetail .title .left {
    width: auto;
}
.list-item-boxSb .item-boxSb .info-item {
    padding-right: 0;
}
.cmtTxt .detailCmt.is-attachment {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
}
.cmtTxt .detailCmt.is-attachment > .d-inline-block {
    margin-top: .5em;
    height: 1rem;
}
.cmtTxt .detailCmt.is-attachment .preview {
    overflow: hidden;
    max-width: 412px;
    height: 98px;
    display: flex;
}
.cmtTxt .detailCmt.is-attachment .preview:hover {
    text-decoration: none;
}
.cmtTxt .detailCmt.is-attachment .preview .preview-image {
    width: 98px;    
    height: 98px;
    flex-shrink: 0;
    border: 1px solid #dddfe2;
}
.cmtTxt .detailCmt.is-attachment.is-video .preview .preview-image {
    position: relative;
}
.cmtTxt .detailCmt.is-attachment.is-video .preview .preview-image .overlay {
    width: 100%;
    top: 0;
    position: absolute;
    height: 100%;
    left: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
.cmtTxt .detailCmt.is-attachment.is-video .preview .preview-image .overlay:hover .sn-play-video {
    background-position: 0 -55px;
}
.cmtTxt .detailCmt.is-attachment .preview .preview-image img {
    width: 100%;
    height: 100%;
}
.cmtTxt .detailCmt.is-attachment .preview .preview-content {
    padding: 10px 12px;
    border-left: none !important;
    border: 1px solid #dddfe2;
    background-color: #fff;
}
.cmtTxt .detailCmt.is-attachment:not(.is-video) .preview .preview-content:hover {
    background-color: rgba(29, 33, 41, .04);
}
.cmtTxt .detailCmt.is-attachment .preview h5.title {
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    line-height: 16px;
    font-weight: normal;
    font-size: 12px;
    color: #606770;
}
.cmtTxt .detailCmt.is-attachment .preview .excerpt {
    word-wrap: break-word;
    overflow: hidden;
    margin: 5px 0 0;
    line-height: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #1d2129;
}

.cmtTxt .detailCmt .reaction {
    padding: 0 5px;
    display: inline-flex;
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
    align-self: flex-end;
    align-items: center;
}
.cmtTxt .detailCmt .reaction a {
    display: flex;
}
.cmtTxt .detailCmt .reaction a + a {
    margin-left: 3px;
}
.cmtTxt .detailCmt .reaction .total-reaction {
    margin-left: 3px;
    font-size: .6875rem;
    color: #a3a3a3;
}

.post-reaction-statistic {
    padding: 15px 0 0;
    margin: 13px 15px 0;
    display: flex;
    border-top: 1px solid #e1e2e3;
}
/*======== detail comment reaction tooltip ========*/
.detail-comment-reaction-item__header {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
}
.detail-comment-reaction-item__header .count {
    margin-left: 3px;
}
.detail-comment-reaction-tooltip .user-list {
    text-align: left;
    padding-left: 0;
    list-style-type: none;
}
.detail-comment-reaction-tooltip .user-list .user-item a {
    color: #9cacb9;
}
/*======== end detail comment reaction tooltip ========*/

/*======== detail reaction modal ========*/
.reaction-detail-modal .modal-header {
    padding: 0;
    margin: 0 10px;
    justify-content: space-between;
    height: 48px;
    display: flex;
    background-color: #fff;
    align-items: center;
}
.reaction-detail-modal .modal-header::before, .reaction-detail-modal .modal-header::after {
    display: none;
}
.reaction-detail-modal .modal-body {
    max-height: 500px;
}
.reaction-detail-modal .view-more-button {
    text-align: center;
    padding: 10px 15px;
    margin: 0 12px 12px;
    font-size: 14px;
    display: block;
    border: 1px solid #d8dfea;
    background-color: #edeff4;
}
.reaction-detail-modal .view-more-button:hover {
    background-color: #c4d2e7;
}
.reaction-detail-modal .icon-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    align-self: stretch;
}
.reaction-detail-modal .icon-list li:not(:last-child) {
    padding-right: 12px;
}
.reaction-detail-modal .icon-list li, .reaction-detail-modal .icon-list a {
    height: 100%;
}
.reaction-detail-modal .icon-list a {
    display: flex;
    color: #8d8d8d;
    align-items: center;
}
.reaction-detail-modal .icon-list a:hover {
    color: #666;
}
.reaction-detail-modal .icon-list li.active a {
    color: rgb(88, 144, 255);
    border-bottom: 2px solid rgb(53, 120, 229);
}
.reaction-detail-modal .icon-list a:hover {
    text-decoration: none;
}
.reaction-detail-modal .icon-list a .sn-icon {
    margin-right: 4px;
}
.reaction-detail-modal .modal-body {
    padding: 0;
}
.reaction-detail-modal .reaction-profile-list {
    padding: 0 12px 12px;
    margin-bottom: 0;
    list-style-type: none;
}
.reaction-detail-modal .reaction-profile-list .reaction-profile-item {
    padding-top: 12px;
}
.reaction-detail-modal .reaction-profile-list .reaction-profile-item  .profile-picture, .reaction-detail-modal .reaction-profile-list .reaction-profile-item  .profile-picture img {
    width: 40px;
    height: 40px;
}
.reaction-detail-modal .reaction-profile-list .reaction-profile-item  .profile-picture {
    position: relative;
    margin-right: 16px;
    display: block;
}
.reaction-detail-modal .reaction-profile-list .reaction-profile-item  .profile-picture:hover {
    text-decoration: none;
}
.reaction-detail-modal .reaction-profile-list .reaction-profile-item  .profile-picture .sn-icon {
    z-index: 1;
    right: -4px;
    position: absolute;
    bottom: -4px;
}
.reaction-detail-modal .reaction-profile-list .reaction-profile-item .profile-name {
    color: #1d2129;
}

.brief-profile-wall-popover {
    padding: 0;
    max-width: 370px;
    border: none;
}
.brief-profile-wall-popover .popover-content {
    padding: 0;
}
.brief-profile-wall-box {
    padding-top: 14px;
}
.brief-profile-wall-box__body {
    padding: 0 10px;
}
.brief-profile-wall-box__body .content {
    width: 350px;
}
.brief-profile-wall-box__body .content .profile-cover-container {
    width: 100%;
    top: 0;
    position: absolute;
    left: 0;
    height: 137px;
}
.brief-profile-wall-box__body .content .profile-cover-container__inner {
    overflow: hidden;
    height: 100%;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.profile-cover-container__inner .profile-cover {
    width: 370px;
    top: -11px;
    position: relative;
    overflow: hidden;
    height: 159px;
}
.profile-cover-container__inner .profile-cover img {
    width: 432px;
    top: 0;
    position: absolute;
    left: -31px;
    height: 160px;
}
.profile-cover-container__inner .overlay {
    width: 100%;
    position: absolute;
    height: 93px;
    bottom: 0;
    background-image: linear-gradient(transparent, rgba(0,0,0,.1) 20%, rgba(0,0,0,.2) 33%, rgba(0,0,0,.35) 50%, rgba(0,0,0,.56) 75%, rgba(0,0,0,.7));
}
.profile-cover-container .content-arrow {
    width: 11.31px;
    transform-origin: 0 0 !important;
    transform: translate(21px, -9px) rotate(45deg);
    top: 0;
    position: absolute;
    overflow: hidden;
    height: 11.31px;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, .25);
    border-left: 1px solid rgba(0, 0, 0, .25);
}
.profile-cover-container .profile-name {
    z-index: 1;
    position: absolute;
    min-height: 37px;
    max-width: 250px;
    margin-right: 3px;
    line-height: 1.2;
    left: 120px;
    bottom: 3px;
}
.profile-cover-container .profile-name a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
}
.brief-profile-wall-box__body .content .data-table {
    width: 100%;
    position: relative;
    margin-top: 78px;
}
.brief-profile-wall-box__body .content .data-table .profile-cover .cover {
    padding: 1px;
    margin: 0 7px -4px -4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
    border-radius: 3px;
    background: rgba(0, 0, 0, .3);
}
.brief-profile-wall-box__body .content .data-table .profile-cover .cover img {
    height: 100px;
    display: block;
    border-radius: 2px;
    border: 3px solid #fff;
    background-color: #fff;
}
.brief-profile-wall-box__body .content .data-table .profile-info td {
    width: 10000px;
    padding-top: 46px;
}
.brief-profile-wall-box__body .content .data-table .profile-info td .info-container {
    margin-top: 5px;
}
.profile-info td .info-container .info-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.profile-info td .info-container .info-list .info-item {
    padding: 4px;
}
.profile-info td .info-container .info-list .info-item .title {
    line-height: 16px;
    font-size: 12px;
    color: #4b4f56;
}
.profile-info td .info-container .info-list .info-item .description {
    line-height: 16px;
    font-size: 12px;
    color: #90949c;
}
.brief-profile-wall-box__footer {
    padding: 6px 7px 6px 8px;
    text-align: right;
    text-align: -webkit-right;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}
/*======== detail reaction modal ========*/

.cmtTxt .detailCmt .comment-action {
    visibility: hidden;
    display: inline-flex;
}
.cmtTxt .detailCmt:hover .comment-action {
    visibility: visible;
}
.comment > .cmtTxt > .media, .comment > .cmtTxt > .media .replyBox > .media {
    display: flex;
}
.comment > .cmtTxt > .media > .media-body, .comment > .cmtTxt > .media > .media-body .preview-content, .comment > .cmtTxt > .media, .comment > .cmtTxt > .media .replyBox > .media > .media-body {
    min-width: 0;
}
.cmtTxt .media-body img {
    width: 100%;
}
.comment-action-popover {
    max-width: fit-content;
}
.comment-action-popover .comment-action-list a {
    padding: 3px 0;
    display: flex;
    color: #72767f;
    align-items: center;
}
.comment-action-popover .comment-action-list a:hover {
    text-decoration: none;
}
.comment-action-popover .comment-action-list a > i {
    margin-right: 5px;
}

.media .replyBox {
    padding-top: 5px;
    padding-left: 7px;
}

.chooseCV .cv_select .media-body p.modal_statis .nda_stt {
    color: #0096ff;
}
.chooseCV .cv_select .media-body p.modal_statis span:nth-child(2) {
    color: inherit;
}
.mainPopupInfoPage .main .list_photo-recent {
    flex-wrap: wrap;
    display: flex;
}
.mainPopupInfoPage .footer .list-Interactive .dislike {
    border-radius: 0;
    border-left: none;
}
.mainPopupInfoPage .footer .list-Interactive .dislike .sp_CzQQKqd_AHg {
    transform: rotateZ(-180deg);
    background-position: -50px -233px;
}
#myImage {
    font-size: .75rem;
}

footer.footer .whiteBox {
    padding: 10px;
}

@media screen and (min-width: 576px) {
    .cmtTxt .detailCmt.is-attachment {
        display: flex;
        align-items: flex-end;
    }
    .cmtTxt .detailCmt > .d-inline-block {
        margin-left: .5em;
    }
}
@media screen and (min-width: 1200px) {
    .left-main {
        margin-left: 18px;
        margin-right: 313px;
    }
}

@media screen and (max-width: 767px) {
    .reaction-detail-modal .modal-dialog {
        width: 100%;
    }
}
