body {
    padding-top: 2.8125em;
    font-size: 1rem;
    background-color: #e9ebee;
}
.wpMainadminWc {
    font-size: .75rem;
}

.main {
    position: relative;
}
.left-main {
    min-width: 0;
    border-radius: .1875em;
    border: 1px solid #dddfe2;
    background-color: #fff;
    align-self: flex-start;
}
.left-main__header {
    padding: .9375em;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
}
.left-main__header > * {
    min-width: 0;
}
.left-main__header .title {
    margin: 0;
    font-size: .875rem;
}
.left-main__header .description {
    margin: 0;
    font-size: .75rem;
    color: #90949c;
}
.left-main__header .create-ad-button {
    font-size: .875rem;
    color: #4267b2;
}
.left-main__header .create-ad-button .sn-icon {
    flex-shrink: 0;
}
.ad-list {
    padding-left: 0;
    list-style-type: none;
}
.ad-list .ad-item {
    padding: .9375em;
    border-bottom: 1px solid #e5e5e5;
}
.ad-list .ad-item > .d-flex > :not(.cover) {
    min-width: 0;
}
.ad-list .ad-item .description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: .75rem;
    color: #b3b3b2;
}
.ad-list .ad-item .cover {
    width: 4.0625em;
    margin-right: 1em;
    height: 4.0625em;
}
.ad-list .ad-item .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: .3125em 0 .5em;
    overflow: hidden;
    font-weight: bold;
    font-size: .9375rem;
}
.ad-list .ad-item .excerpt {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
    font-size: .8125rem;
}
.ad-list .ad-item .status {
    font-size: .75rem;
    color: rgb(96, 103, 112);
}
.ad-list .ad-item .info {
    margin-top: .5em;
    justify-content: space-between;
    display: flex;
}
.ad-list .ad-item .info .statistic-info {
    max-width: 50%;
    flex-direction: column;
    display: flex;
}
.ad-list .ad-item .info .statistic-info .statistic-item:not(:last-child) {
    padding-right: .5em;
}
.ad-list .ad-item .info .statistic-info .statistic-item .view-result-button {
    transition: all 300ms cubic-bezier(.1, .7, .1, 1), border-width 1ms;
    padding-top: .208333em;
    padding-bottom: .208333em;
    font-weight: bold;
    font-size: .75em;
    font-family: Arial;
    color: rgb(68, 73, 80);
    border-radius: 2px;
    border-color: rgb(218, 221, 225);
    background-color: rgb(245, 246, 247);
}
.ad-list .ad-item .info .statistic-info .statistic-item .view-result-button:hover {
    background-color: rgb(235, 237, 240);
}

/*========= Right main =========*/
.right-main {
    margin-top: .5em;
    border: 1px solid #dddfe2;
    align-self: flex-start;
}
.sponsor-suggestion {
    padding: .625em;
    background-color: #fff;
}
.sponsor-suggestion .title {
    margin: 0 0 .625em;
    font-size: .875rem;
    color: #616787;
}
.sponsor-suggestion .sponsor-list {
    padding-left: 0;
    list-style-type: none;
}
.sponsor-suggestion .sponsor-list .sponsor-item {
    /* width: 17.5em; */
    position: relative;
    padding-bottom: .5em;
    color: #939594;
    border: 1px solid #dedfe3;
}
.sponsor-suggestion .sponsor-list .sponsor-item .close {
    z-index: 1000;
    top: 6px;
    text-shadow: inherit;
    right: 6px;
    position: absolute;
    padding: .5px 1.5px 1px;
    opacity: 1;
    font-size: .7rem;
    color: #fff;
    border-radius: 1px;
    background-color: #aebad0;
}
.sponsor-suggestion .sponsor-list .sponsor-item::after:hover {
    opacity: .6;
}

.sponsor-suggestion .sponsor-list .sponsor-item + .sponsor-item {
    margin-top: .5em;
}
.sponsor-suggestion .sponsor-list .sponsor-item .title {
    padding: 0 5px;
    margin: .714286em 0 0;
    font-size: .875rem;
    color: #36599b;
}
.sponsor-suggestion .sponsor-list .sponsor-item .description {
    padding: 0 5px;
    margin: 0 0 .769231em;
}
.sponsor-suggestion .sponsor-list .sponsor-item .description .number {
    color: #5295fd;
}
.sponsor-suggestion .sponsor-list .sponsor-item .description, .sponsor-suggestion .sponsor-list .sponsor-item .content {
    padding: 0 5px;
    font-size: .8125rem;
}
/*========= End right main =========*/

@media screen and (min-width: 992px) {
    .ad-list .ad-item {
        display: flex;
    }
    .ad-list .ad-item > * {
        width: 50%;
    }
    .ad-list .ad-item .info {
        margin-top: 0;
        margin-left: 1em;
        flex-grow: 1;
    }
}
@media screen and (min-width: 1200px) {
    .main {
        padding-right: .625em;
    }
    .left-main {
        margin-right: 19.125em;
    }
    .right-main {
        top: 1px;
        right: 7px;
        position: absolute;
        /* top: 59px;
        right: 212px;
        position: fixed !important; */
        margin-top: 0;
        display: block;
    }
    .sponsor-suggestion .sponsor-list .sponsor-item {
        width: 17.5em;
    }
    .footer {
        margin-right: 19.125em;
    }
}
