body {
    padding-top: 2.8125em;
    font-size: 1rem;
    background-color: #e9ebee;
}
.wpMainadminWc {
    font-size: .75rem;
}

.left-main {
    border-radius: .1875em;
    border: 1px solid #dddfe2;
    background-color: #fff;
}
.left-main__header {
    padding: .9375em;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
}
.left-main__header .title {
    margin: 0;
    font-size: .875rem;
}
.left-main__header .description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    font-size: .75rem;
    color: #90949c;
}
.left-main__header .create-ad-button {
    font-size: .875rem;
    color: #4267b2;
}
.left-main__header .create-ad-button .sn-icon {
    flex-shrink: 0;
}
.ad-list {
    padding-left: 0;
    list-style-type: none;
}
.ad-list .ad-item {
    padding: .9375em;
    border-bottom: 1px solid #e5e5e5;
}
.ad-list .ad-item .description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: .75rem;
    color: #b3b3b2;
}
.ad-list .ad-item .cover {
    margin-right: 1em;
}
.ad-list .ad-item .name {
    margin: .3125em 0 .5em;
    font-weight: bold;
    font-size: .9375rem;
}
.ad-list .ad-item .excerpt {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
    font-size: .8125rem;
}
.ad-list .ad-item .status {
    font-size: .75rem;
    color: rgb(96, 103, 112);
}
.ad-list .ad-item .statistic-info {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
.ad-list .ad-item .info {
    margin-top: .5em;
}
.ad-list .ad-item .info .statistic-info .statistic-item {
    max-width: calc(1 / 3 * 100%);
}
.ad-list .ad-item .info .statistic-info .statistic-item:not(:last-child) {
    padding-right: .5em;
}
.ad-list .ad-item .info .statistic-info .statistic-item .view-result-button {
    transition: all 300ms cubic-bezier(.1, .7, .1, 1), border-width 1ms;
    padding-top: .208333em;
    padding-bottom: .208333em;
    font-weight: bold;
    font-size: .75em;
    font-family: Arial;
    color: rgb(68, 73, 80);
    border-radius: 2px;
    border-color: rgb(218, 221, 225);
    background-color: rgb(245, 246, 247);
}
.ad-list .ad-item .info .statistic-info .statistic-item .view-result-button:hover {
    background-color: rgb(235, 237, 240);
}

@media screen and (min-width: 576px) {

}
@media screen and (min-width: 768px) {
    .ad-list .ad-item {
        display: flex;
    }
    .ad-list .ad-item .info {
        margin-top: 0;
        margin-left: 1em;
        flex-grow: 1;
    }
}
