body {
    padding-top: 2.8125em;
    font-size: 1rem;
    background-color: #e9ebee;
}

.on-off-toggle-button .dropdown-menu > li > a, .on-off-toggle-button .dropdown-menu > li > a:hover {
    color: #000;
}
.on-off-toggle-button .dropdown-menu > li.active > a {
    font-weight: bold;
    background-color: #eee;
}
.sx_90e325 {
    margin-top: 0;
}
.fa-question-square path {
    fill: #949494;
}

/*======= Main =======*/
.main {
    padding: .9375em;
    background-color: #fff;
}
.ad-info {
    display: flex;
}
.ad-info .cover {
    margin-right: .9375em;
}
.ad-info .cover img {
    width: 4.0625em;
    height: 4.0625em;
}
.ad-description .title, .ad-description {
    overflow: hidden;
}
.ad-description > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    display: block;
}
.ad-description > * + * {
    margin-top: .375em;
}
.ad-description .title {
    font-size: .9375rem;
}
.ad-description .content {
    font-size: .8125rem;
}
.ad-description .edit {
    color: #8a8a8a;
}
.ad-description .edit .fa-pen {
    font-size: .9375rem;
}
.ad-description .publisher {
    font-size: .75rem;
    color: #b3b3b2;
}

.ad-statistic-column {
    flex-wrap: wrap;
    display: flex;
}
.ad-statistic-column-item {
    margin-bottom: .625em;
    flex: 1 1 auto;
}
.ad-statistic-column, .ad-statistic-chart-container {
    margin-top: 1.25em;
}
.ad-statistic-column-item .btn {
    padding: .428571em;
    display: flex;
    border: none;
    align-items: center;
}
.ad-statistic-column-item .tile {
    margin-left: .357143em;
}
.ad-statistic-column-item .tile {
    width: .857143em;
    height: .357143em;
}
.ad-statistic-column-item .description {
    white-space: nowrap;
    font-size: .75rem;
    color: #b3b3b2;
}
.ad-statistic-chart-container {
    position: relative;
}
.ad-statistic-chart-container .date {
    position: absolute;
    font-size: .6875rem;
    color: #b3b3b2;
    bottom: 5px;
}
.ad-statistic-chart-container .start-date {
    left: 0;
}
.ad-statistic-chart-container .end-date {
    right: 0;
}

.add-keyword-button-container {
    position: relative;
}
.add-keyword-button {
    color: #fff !important;
}
.add-keyword-button:active, .add-keyword-button:focus {
    outline: none !important;
    box-shadow: none;
}
.add-keyword-button-dialog {
    z-index: 1000;
    position: absolute;
    padding: .615385em .5384612em;
    margin-top: .692308em;
    font-size: .8125rem;
    border: 1px solid #e0e0e0;
    background-color: #fff;
}
.add-keyword-button-dialog .form-group {
    margin-bottom: .615385em;
}
.add-keyword-button-dialog .form-group:last-child {
    margin-bottom: 0;
}
.add-keyword-button-dialog .input-label {
    margin-bottom: .615385em;
    font-weight: 500;
}
.add-keyword-button-dialog .input-field textarea {
    width: 100%;
    resize: none;
    padding: .5em;
    border: 1px solid #e0e0e0;
}
.add-keyword-button-dialog .input-field textarea:focus {
    outline: none;
}

.ad-statistic-table .header {
    margin-top: .5em;
}
.ad-statistic-table .header .right-header {
    flex-wrap: wrap;
    display: flex;
}
.ad-statistic-table .header .right-header > * {
    margin-top: .75em;
}
.ad-statistic-table .header .right-header > *:not(:last-child) {
    margin-right: .5em;
}
.ad-statistic-table .header .right-header .btn {
    font-weight: bold;
    background-color: #f3f3f3;
}
.ad-statistic-table .search-form {
    display: flex;
}
.ad-statistic-table .search-form input {
    outline: none;
    height: 2.5em;
    font-size: 12px;
    border-radius: .333333em 0 0 .333333em;
    border: 1px solid #dadada;
}
.ad-statistic-table .search-form input:focus {
    box-shadow: none;
}
.ad-statistic-table .search-form .btn {
    padding: 4px 20px;
    border-radius: 0 .333333em .333333em 0;
    border: 1px solid #dadada;
}
.ad-statistic-table .search-form .btn:focus {
    outline: none;
}

.ad-statistic-table .table-responsive .table {
    margin-bottom: 0;
}
.ad-statistic-table .table-responsive, .ad-statistic-table .table-responsive svg {
    font-size: .75rem;
    margin-bottom: 0;
}
.ad-statistic-table .table-responsive th {
    vertical-align: top;
    background-color: #f6f6f6;
}
.ad-statistic-table .table-responsive th:first-child input[type="checkbox"], .ad-statistic-table .table-responsive td:first-child input[type="checkbox"] {
    margin-right: .625em;
}
.ad-statistic-table .table-responsive th:nth-child(n+3), .ad-statistic-table .table-responsive td:nth-child(n+3) {
    text-align: right;
}

.ad-statistic-table .table-responsive .on-off-toggle-button .dropdown-toggle {
    padding: 0;
    border: none;
}
.ad-statistic-table .table-responsive .on-off-toggle-button .dropdown-toggle:hover:active, .ad-statistic-table .table-responsive .on-off-toggle-button .dropdown-toggle:hover, .ad-statistic-table .table-responsive .on-off-toggle-button .dropdown-toggle:focus {
    box-shadow: inherit;
    background-color: inherit;
}
.ad-statistic-table .table-responsive .on-off-toggle-button .dropdown-toggle .caret, .ad-statistic-table .table-responsive .fa-pen {
    visibility: hidden;
}
.ad-statistic-table .table-responsive tr:hover .on-off-toggle-button .dropdown-toggle .caret, .ad-statistic-table .table-responsive tr:hover .fa-pen {
    visibility: visible;
}
.ad-statistic-table .table-responsive tfoot td {
    border: none;
    background-color: #e9e9e9;
}

.ad-statistic-table .pagination {
    width: 100%;
    padding: .5em 1em;
    margin: 0;
    font-size: .75rem;
    border-radius: 0;
    background-color: #f0f0f0;
}
.ad-statistic-table .pagination .jump-to {
    width: 2.5em;
    padding: 0 .225em;
    outline: none;
    margin: 0 .5em;
}
.ad-statistic-table .pagination .item-per-page {
    margin-left: .5em
}
.ad-statistic-table .pagination .item-per-page .caret {
    margin-left: .75em;
}
.ad-statistic-table .pagination .item-per-page .dropdown-toggle {
    padding: 0;
    font-size: .75rem;
    border: none;
    background-color: inherit;
}
.ad-statistic-table .pagination .item-per-page .dropdown-toggle:active, .ad-statistic-table .pagination .item-per-page .dropdown-toggle:hover, .ad-statistic-table .pagination .item-per-page .dropdown-toggle:focus {
    box-shadow: inherit;
    background-color: inherit;
}
.ad-statistic-table .left-pagination {
    margin-top: .5em;
    display: flex;
    align-items: center;
}
.ad-statistic-table .pagination .paginate-button svg path {
    fill: #606060;
}
.ad-statistic-table .pagination .paginate-button.disabled svg path {
    fill: #c5c5c5;
}
/*======= End main =======*/

/*======= Date range editor =======*/
.date-range-editor {
    z-index: 1029;
    padding: 0;
    font-size: .8125rem;
}
.date-range-editor > * {
    width: 100%;
    flex-wrap: wrap;
}
.date-range-editor .left-column, .date-range-editor .right-column {
    flex: 1 0 auto;
}
.date-range-editor .option-list hr {
    margin: 0;
}
.date-range-editor .option-list .option-group {
    padding: .769231em 0;
}
.date-range-editor .option-list .option-group .option {
    padding: .576923em 1.230769em;
    display: block;
    color: #000000de;
}
.date-range-editor .option-list .option-group .option:hover {
    text-decoration: none;
    background-color: #eee;
}
.date-range-editor .option-list .option-group .option.active {
    border-left: 3px solid #4285f4;
    background-color: #eee;
}
.date-range-editor .option-list .option-group .option .days-input {
    width: 28px;
}
.date-range-editor .right-column {
    padding-top: 10px;
    flex-direction: column;
    display: flex;
    border-left: 1px solid #e0e0e0;
}
.date-range-editor .right-column .range-input {
    padding: 0 1.23077em;
    margin-bottom: .769231em;
    display: flex;
    align-items: center;
}
.date-range-editor .right-column .range-input .material-input {
    width: 7.692308em;
}
.date-range-editor .right-column .range-input .separator {
    padding: 0 .615385em;
    color: #000000de;
}
.date-range-editor .right-column .month-selector-toolbar {
    padding: 0 1.23077em;
    margin-bottom: .769231em;
    display: flex;
    color: rgba(0, 0, 0, 0.87);
    align-items: center;
}
.date-range-editor .right-column .month-selector-toolbar .month-selector {
    margin-right: auto;
    font-weight: 500;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.date-range-editor .right-column .month-selector-toolbar .month-selector .month-selector-dropdown-icon {
    width: 1.846154em;
    transition: transform 218ms cubic-bezier(0.4,0,0.2,1);
    text-align: center;
}
.date-range-editor .right-column .month-selector-toolbar .month-selector .month-selector-dropdown-icon.flipped {
    transform: scaleY(-1);
}
.date-range-editor .right-column .month-selector-toolbar .next-prev-button {
    font-size: 1.5rem;
    display: flex;
}
.date-range-editor .right-column .month-selector-toolbar .next-prev-button a {
    width: 24px;
    text-align: center;
    display: flex;
    color: #767676;
}
.date-range-editor .right-column .month-selector-toolbar .next-prev-button .disabled {
    pointer-events: none;
    opacity: .26;
    cursor: not-allowed;
}
.date-range-editor .right-column .month-selector-toolbar .next-prev-button .prev {
    margin-right: 8px;
}
.date-range-editor .right-column .month-selector-toolbar .next-prev-button a:hover {
    text-decoration: none;
}
.date-range-editor .right-column .picker-container {
    position: relative;
    overflow: hidden;
    height: 288px;
    flex-grow: 1;
}
.date-range-editor .right-column .picker-container.compact {
    line-height: 36px;
}
.date-range-editor .right-column .picker-container .picker {
    transition: transform 218ms cubic-bezier(0.4,0,0.2,1);
    transform: translateY(0);
    top: 0;
    right: 0;
    position: absolute;
    left: 0;
    flex-direction: column;
    display: flex;
    bottom: 0;
}
.date-range-editor .right-column .picker-container .picker.showhide-hide {
    transform: translateY(100%);
}
.date-range-editor .right-column .picker-container .month-picker.picker.showhide-hide {
    transform: translateY(-100%);
}
.date-range-editor .right-column .picker-container .picker.showhide-hidden {
    visibility: hidden;
}
.date-range-editor .right-column .picker-container .month-picker {
    flex-direction: column;
    display: flex;
}
.date-range-editor .right-column .scroll-container {
    position: relative;
    padding-right: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.date-range-editor .right-column .picker-container .month-picker .scroll-container .calendar-container {
    user-select: none;
    top: 0;
    text-transform: uppercase;
    position: absolute;
    left: 0;
}
.date-range-editor .right-column .picker-container .month-picker .scroll-container .calendar-container .year .year-title {
    position: relative;
    padding-left: 16px;
    margin: 0;
    line-height: 36px;
    height: 36px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
}
.date-range-editor .right-column .picker-container .month-picker .scroll-container .calendar-container .year .month {
    width: 60px;
    text-align: center;
    position: relative;
    height: 36px;
    display: inline-block;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
}
.date-range-editor .right-column .picker-container .month-picker .scroll-container .calendar-container .year .month.disabled {
    pointer-events: none;
    color: rgba(0,0,0,0.38);
}
.date-range-editor .right-column .picker-container .month-picker .scroll-container .calendar-container .year .month:hover::after {
    z-index: -1;
    top: 2px;
    right: 2px;
    position: absolute;
    left: 2px;
    display: block;
    content: '';
    bottom: 2px;
    border-radius: 18px;
    background: #eee;
}
.date-range-editor .right-column .picker-container .calendar-picker .calendar-picker__header {
    justify-content: center;
    flex-shrink: 0;
    display: flex;
}
.date-range-editor .right-column .picker-container .calendar-picker .calendar-picker__header .header-day {
    width: 36px;
    text-align: center;
    height: 36px;
    font-size: .75rem;
    display: inline-block;
    color: rgba(0,0,0,0.54);
}
.date-range-editor .right-column .picker-container .calendar-picker .scroll-container .calendar-container .month {
    top: 0;
    position: relative;
    overflow: hidden;
    left: 0;
    height: 216px;
    grid-template-columns: repeat(7, 1fr);
    display: grid;
    counter-reset: day;
    background: #fff;
}
.date-range-editor .right-column .picker-container .calendar-picker .scroll-container .calendar-container .month-title {
    z-index: 1;
    width: 108px;
    top: 0;
    position: absolute;
    pointer-events: none;
    padding-left: 12px;
    margin: 0;
    left: 0;
    height: 36px;
    font-size: .8125rem;
    color: rgba(0, 0, 0, 0.54);
}
.date-range-editor .calendar-container .day-slot.visible::after, .date-range-editor .calendar-container .day-slot.disabled::after {
    counter-increment: day;
    content: counter(day);
}
.date-range-editor .right-column .picker-container .day-slot {
    z-index: 0;
    vertical-align: top;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.date-range-editor .right-column .picker-container.compact .day-slot.today::after, .date-range-editor .right-column .picker-container.compact .day-slot.hover::after, .date-range-editor .right-column .picker-container.compact .day-slot.boundary::after {
    line-height: 32px;
}
.date-range-editor .right-column .picker-container.compact .day-slot {
    height: 36px;
}
.date-range-editor .day-slot.invisible {
    pointer-events: none;
    color: transparent;
}
.date-range-editor .day-slot.disabled {
    pointer-events: none;
    color: rgba(0,0,0,0.38);
}
.date-range-editor .day-slot::before, .date-range-editor .day-slot::after {
    top: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    left: 0;
    display: block;
    box-sizing: border-box;
    bottom: 0;
}
.date-range-editor .day-slot.highlight {
    border: none;
    background-color: transparent;
}
.date-range-editor .day-slot.highlight::before {
    z-index: -2;
    top: 2px;
    right: 0;
    left: 0;
    content: '';
    bottom: 2px;
}
.date-range-editor .day-slot.highlight-preview::before {
    border-top: 1px dashed rgba(0, 0, 0, 0.38);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.38);
}
.date-range-editor .day-slot.boundary.start::before {
    left: 50%;
}
.date-range-editor .day-slot.boundary.end::before {
    right: 50%;
}
.date-range-editor .day-slot.hover::after, .date-range-editor .day-slot.today::after, .date-range-editor .day-slot.boundary::after {
    z-index: -1;
    top: 2px;
    right: 2px;
    left: 2px;
    content: '';
    border-radius: 100%;
    bottom: 2px;
}
.date-range-editor .day-slot.hover::after {
    background: #eee;
}
.date-range-editor .day-slot.boundary-preview::after {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.38);
}
.date-range-editor .day-slot.boundary.boundary-range.active:not(.hover) {
    color: #fff;
}
.date-range-editor .day-slot.boundary.boundary-range.active:not(.hover)::after {
    background: #4285f4;
}
.date-range-editor .day-slot.boundary.highlight.highlight-range:not(.active):not(.hover)::after {
    background: #c6dafc;
}
.date-range-editor .day-slot.highlight.highlight-range::before {
    background: #c6dafc;
}
/*======= End date range editor =======*/


@media screen and (min-width: 576px) {
    .ad-statistic-table .header .right-header {
        flex-wrap: nowrap;
    }
    .ad-statistic-table .pagination {
        justify-content: flex-end;
        display: flex;
        align-items: center
    }
    .ad-statistic-table .pagination .left-pagination {
        margin-top: 0;
    }
    .ad-statistic-table .pagination .border-left {
        width: .0625em;
        margin: 0 .625em;
        border-left: 1px solid #ccc;
        align-self: stretch;
    }
    .date-range-editor > * {
        width: max-content;
    }
}

@media screen and (min-width: 1200px) {
    .main .main-header {
        display: flex;
    }
    .ad-statistic-column {
        margin-top: 0;
        margin-left: 2.5em;
    }
    .ad-statistic-column > .ad-statistic-column-item {
        margin-right: .5em;
    }
}
