body {
    padding-top: 2.8125em;
    font-size: 1rem;
    background-color: #e9ebee;
}

.on-off-toggle-button .dropdown-menu > li > a, .on-off-toggle-button .dropdown-menu > li > a:hover {
    color: #000;
}
.on-off-toggle-button .dropdown-menu > li.active > a {
    font-weight: bold;
    background-color: #eee;
}
.sx_90e325 {
    margin-top: 0;
}
.fa-question-square path {
    fill: #949494;
}
.online-status .online-icon {
    font-size: .4rem;
    display: flex;
}
.online-status .online-icon path {
    fill: #42b72b;
}
.clear-search-input {
    margin-right: .5em;
    cursor: pointer;
}
.layout-title-bar {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.layout-title-bar:hover {
    background-image: linear-gradient(rgba(29, 33, 41, .04), rgba(29, 33, 41, .04));
}
.layout-title-bar .online-status {
    margin-right: .25em;
}
.conversation-dialog {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    border-radius: 4px 4px 0 0;
}

/*======= Left aside =======*/
.left-aside .navbar-header {
    float: none;
}
.left-aside .navbar-default {
    background-color: inherit;
}
.left-aside .navbar-collapse .navbar-nav > li > a {
    padding: .571429em;
    font-size: .875rem;
    color: #111;
}
.left-aside .navbar-collapse .navbar-nav > li.active > a {
    font-weight: bold;
    border-left: .214286em solid #4267b2;
    background-color: #dddfe2;
}
.left-aside .navbar-collapse .navbar-nav > li.active > a:hover {
    color: inherit;
}
.create-group {
    font-size: .75rem;
    display: flex;
    align-items: center;
}
.create-group-button {
    top: 3px;
    position: relative;
    display: inline-block;
}
.create-group-button__icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0px -542px;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/Yx7NlaKiLp6.png);
}
/*======= End left aside =======*/

/*======= Main =======*/
.main {
    padding: .9375em;
    background-color: #fff;
}
.ad-info {
    display: flex;
}
.ad-info .cover {
    margin-right: .9375em;
}
.ad-info .cover img {
    width: 4.0625em;
    height: 4.0625em;
}
.ad-description .title, .ad-description {
    overflow: hidden;
}
.ad-description > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    display: block;
}
.ad-description > * + * {
    margin-top: .375em;
}
.ad-description .title {
    font-size: .9375rem;
}
.ad-description .content {
    font-size: .8125rem;
}
.ad-description .edit {
    color: #8a8a8a;
}
.ad-description .edit .fa-pen {
    font-size: .9375rem;
}
.ad-description .publisher {
    font-size: .75rem;
    color: #b3b3b2;
}

.ad-statistic-column {
    flex-wrap: wrap;
    display: flex;
}
.ad-statistic-column-item {
    margin-bottom: .625em;
    flex: 1 1 auto;
}
.ad-statistic-column, .ad-statistic-chart-container {
    margin-top: 1.25em;
}
.ad-statistic-column-item .btn {
    padding: .428571em;
    display: flex;
    border: none;
    align-items: center;
}
.ad-statistic-column-item .tile {
    margin-left: .357143em;
}
.ad-statistic-column-item .tile {
    width: .857143em;
    height: .357143em;
}
.ad-statistic-column-item .description {
    white-space: nowrap;
    font-size: .75rem;
    color: #b3b3b2;
}
.ad-statistic-chart-container {
    position: relative;
}
.ad-statistic-chart-container .date {
    position: absolute;
    font-size: .6875rem;
    color: #b3b3b2;
    bottom: 5px;
}
.ad-statistic-chart-container .start-date {
    left: 0;
}
.ad-statistic-chart-container .end-date {
    right: 0;
}

.add-keyword-button-container {
    position: relative;
}
.add-keyword-button {
    color: #fff !important;
    background-color: #3b5998;
}
.add-keyword-button:active, .add-keyword-button:focus {
    outline: none !important;
    box-shadow: none;
}
.add-keyword-button-dialog {
    z-index: 1000;
    position: absolute;
    padding: .615385em .5384612em;
    margin-top: .692308em;
    font-size: .8125rem;
    border: 1px solid #e0e0e0;
    background-color: #fff;
}
.add-keyword-button-dialog .form-group {
    margin-bottom: .615385em;
}
.add-keyword-button-dialog .form-group:last-child {
    margin-bottom: 0;
}
.add-keyword-button-dialog .input-label {
    margin-bottom: .615385em;
    font-weight: 500;
}
.add-keyword-button-dialog .input-field textarea {
    width: 100%;
    resize: none;
    padding: .5em;
    border: 1px solid #e0e0e0;
}
.add-keyword-button-dialog .input-field textarea:focus {
    outline: none;
}

.ad-statistic-table .header {
    margin-top: .5em;
}
.ad-statistic-table .header .right-header {
    flex-wrap: wrap;
    display: flex;
}
.ad-statistic-table .header .right-header > * {
    margin-top: .75em;
}
.ad-statistic-table .header .right-header > *:not(:last-child) {
    margin-right: .5em;
}
.ad-statistic-table .header .right-header .btn {
    font-weight: bold;
    background-color: #f3f3f3;
}
.ad-statistic-table .search-form {
    display: flex;
}
.ad-statistic-table .search-form input {
    outline: none;
    height: 2.5em;
    font-size: 12px;
    border-radius: .333333em 0 0 .333333em;
    border: 1px solid #dadada;
}
.ad-statistic-table .search-form input:focus {
    box-shadow: none;
}
.ad-statistic-table .search-form .btn {
    padding: 4px 20px;
    border-radius: 0 .333333em .333333em 0;
    border: 1px solid #dadada;
}
.ad-statistic-table .search-form .btn:focus {
    outline: none;
}

.ad-statistic-table .table-responsive .table {
    margin-bottom: 0;
}
.ad-statistic-table .table-responsive, .ad-statistic-table .table-responsive svg {
    font-size: .75rem;
    margin-bottom: 0;
}
.ad-statistic-table .table-responsive th {
    vertical-align: top;
    background-color: #f6f6f6;
}
.ad-statistic-table .table-responsive th:first-child input[type="checkbox"], .ad-statistic-table .table-responsive td:first-child input[type="checkbox"] {
    margin-right: .625em;
}
.ad-statistic-table .table-responsive th:nth-child(n+3), .ad-statistic-table .table-responsive td:nth-child(n+3) {
    text-align: right;
}

.ad-statistic-table .table-responsive .on-off-toggle-button .dropdown-toggle {
    padding: 0;
    border: none;
}
.ad-statistic-table .table-responsive .on-off-toggle-button .dropdown-toggle:hover:active, .ad-statistic-table .table-responsive .on-off-toggle-button .dropdown-toggle:hover, .ad-statistic-table .table-responsive .on-off-toggle-button .dropdown-toggle:focus {
    box-shadow: inherit;
    background-color: inherit;
}
.ad-statistic-table .table-responsive .on-off-toggle-button .dropdown-toggle .caret, .ad-statistic-table .table-responsive .fa-pen {
    visibility: hidden;
}
.ad-statistic-table .table-responsive tr:hover .on-off-toggle-button .dropdown-toggle .caret, .ad-statistic-table .table-responsive tr:hover .fa-pen {
    visibility: visible;
}
.ad-statistic-table .table-responsive tfoot td {
    border: none;
    background-color: #e9e9e9;
}

.ad-statistic-table .pagination {
    width: 100%;
    padding: .5em 1em;
    margin: 0;
    font-size: .75rem;
    border-radius: 0;
    background-color: #f0f0f0;
}
.ad-statistic-table .pagination .jump-to {
    width: 2.5em;
    padding: 0 .225em;
    outline: none;
    margin: 0 .5em;
}
.ad-statistic-table .pagination .item-per-page {
    margin-left: .5em
}
.ad-statistic-table .pagination .item-per-page .caret {
    margin-left: .75em;
}
.ad-statistic-table .pagination .item-per-page .dropdown-toggle {
    padding: 0;
    font-size: .75rem;
    border: none;
    background-color: inherit;
}
.ad-statistic-table .pagination .item-per-page .dropdown-toggle:active, .ad-statistic-table .pagination .item-per-page .dropdown-toggle:hover, .ad-statistic-table .pagination .item-per-page .dropdown-toggle:focus {
    box-shadow: inherit;
    background-color: inherit;
}
.ad-statistic-table .left-pagination {
    margin-top: .5em;
    display: flex;
    align-items: center;
}
.ad-statistic-table .pagination .paginate-button svg path {
    fill: #606060;
}
.ad-statistic-table .pagination .paginate-button.disabled svg path {
    fill: #c5c5c5;
}
/*======= End main =======*/

/*======= Right aside =======*/
.right-aside {
    width: 12.8125em;
    top: 2.75em;
    right: 0;
    position: fixed;
    display: none;
    bottom: 0;
    border-left: 1px solid #d2d3d7;
}
.right-aside__inner {
    position: relative;
    height: 100%;
}
.right-aside__main {
    position: relative;
    overflow: auto;
    max-height: calc(100vh - 3.375em);
    height: 100%;
}
.right-aside__main .ps__rail-y {
    z-index: 1000;
}
.contact-list {
    padding-left: 0;
    list-style-type: none;
}
.contact-list > .contact-item > a {
    padding: .3125em .625em;
}
.contact-list .contact-item > a:hover {
    text-decoration: none;
    box-shadow: 1px 0 0 #eaebed inset;
    background-color: #dddfe2;
}
.contact-list .contact-item .cover-container {
    width: 2em;
    height: 2em;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    display: grid;
}
.contact-list .contact-item .cover-container img {
    width: 2em;
    object-fit: cover;
    height: 2em;
}
.contact-list .contact-item .cover-container .cover {
    width: 2em;
    overflow: hidden;
    grid-row: span 2;
    grid-column: span 2;
}
.contact-list .contact-item .cover-container.cover-container--2 .cover, .contact-list .contact-item .cover-container.cover-container--3 .cover {
    width: 1em;
}
.contact-list .contact-item .cover-container.cover-container--2 .cover:first-child, .contact-list .contact-item .cover-container.cover-container--3 .cover:first-child {
    grid-column: 1 / 2;
}
.contact-list .contact-item .cover-container.cover-container--2 .cover:last-child {
    grid-column: 2 / 3;
}
.contact-list .contact-item .cover-container.cover-container--2 .cover:last-child img, .contact-list .contact-item .cover-container.cover-container--3 .cover:nth-child(2) img, .contact-list .contact-item .cover-container.cover-container--3 .cover:last-child img {
    margin-left: -1em;
}
.contact-list .contact-item .cover-container.cover-container--3 .cover:not(:first-child) {
    grid-row: span 1;
    grid-column: 2 / 3;
}
.contact-list .contact-item .cover-container.cover-container--3 .cover:last-child img {
    margin-top: -1em;
}
.contact-list .contact-item .name {
    margin-left: .75em;
    font-size: .75rem;
    color: #333;
}
.contact-list .contact-item .online-status.offline-minutes {
    font-size: .6875rem;
    color: #90949c;
}
.group-conversation .title {
    text-transform: uppercase;
    padding: 0 .833333em;
    font-size: .75rem;
    color: #4b4c4e;
}

.right-aside--footer {
    right: 0;
    position: absolute;
    padding: .714286em;
    left: 0;
    height: 2.142857em;
    font-size: .875rem;
    display: flex;
    color: #bdc2c8;
    bottom: 0;
    background-color: #f6f7f9;
    align-items: center;
}
.right-aside--footer .search-input {
    width: 5.571429em;
    padding: 0 .357143em;
    outline: none;
    font-size: .875rem;
    flex-grow: 1;
    color: #000;
    border: none;
    background-color: transparent;
}
.action-list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.action-list > .action-item, .action-list > .action-item > a:hover {
    color: #8d949e;
}
.action-list > .action-item {
    cursor: pointer;
}
/*======= End right aside =======*/

/*======= Conversation list =======*/
.conversation-list-container {
    z-index: 1000;
    right: 0;
    position: fixed;
    margin: 0 .9375em;
    display: flex;
    bottom: 0;
}
.conversation-list {
    width: 17.75em;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.conversation__header {
    padding: 0 .5em;
    cursor: pointer;
    color: #191919;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .20);
    background-color: #f5f6f7;
}
.conversation__header .action-list .action-button {
    opacity: .6;
    display: flex;
}
.conversation__header .action-list .action-button:hover {
    opacity: 1;
}
.conversation__name, .conversation__name:hover {
    color: #4b4f56;    
}
.conversation__name {
    font-size: .8125rem;
}
.conversation__body {
    background-color: #fff;
}
.message-list .message {
    padding: .625em .5em;
    display: flex;
}
.message-list .message .cover {
    width: 1.75em;
    height: 1.75em;
    margin-right: .5em;
    flex-shrink: 0;
}
.message-list .message .cover > img {
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
}
.message-list .message .content-list {
    flex-grow: 1;
}
.message-list .message .content-list .content-item {
    display: flex;
}
.message-list .message .content-list .content-item .content {
    padding: .461538em .615385em;
    overflow: hidden;
    max-width: 12em;
    margin: .153846em 0;
    font-size: .8125rem;
    display: inline-flex;
    border-radius: 1em;
    background-color: #f1f0f0;
}
.message-list .message .content-list .content-item .message-action {
    margin-left: .75em;
    display: flex;
}
.message-list .message .content-list .content-item .message-action > * + * {
    margin-left: .325em;
}
.message-list .message .content-list .content-item .message-action .popover-reaction-list {
    padding: 0;
    max-width: none;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .1);
    border-radius: 20px;
    border: none;
}
.message-list .message .content-list .content-item .message-action .popover-content {
    padding: .4375em .3125em;
    font-size: 1rem;
}
.message-list .message .content-list .content-item .message-action .reaction-list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
}
.message-list .message .content-list .content-item .message-action .reaction-list .reaction-item > a {
    transition: all .2s ease-in-out;
    padding: 0 .3125em;
    display: block;
}
.message-list .message .content-list .content-item .message-action .reaction-list .reaction-item > a:hover {
    transform-origin: bottom;
    transform: scale(1.3);
}
.message-list .message .content-list .sent-time {
    text-align: center;
    font-size: .625rem;
    color: #9e95aa;
}
.conversation__footer {
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}
.conversation__footer .chat-input {
    display: flex;
}
.conversation__footer .chat-input textarea {
    width: 100%;
    resize: none;
    padding: .769231em .615385em;
    outline: none;
    font-size: .8125rem;
    border: none;
    background-color: transparent;
}
.conversation__footer .action-list {
    padding: .25em;
}
.conversation__footer .action-list .action-item a {
    padding: .325em;
    margin-right: .625em;
}

.contact-list-container--collapse {
    width: 17.25em;
    padding: .375em .75em;
    height: 1.8125em;
    display: flex;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    border: 1px solid #dddfe2;
    background-color: #f5f6f7;
}
.contact-list-container--collapse .online-count, .contact-list-container__header .online-count {
    font-weight: 500;
    font-size: .8125em;
}
.contact-list-container__header {
    width: 17.25em;
    padding: .375em .75em;
    height: 1.8125em;
    display: flex;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    background-color: #3578e5;
}
.contact-list-container__header .action-list {
    color: #bec3c9;
}
.contact-list-container__header .action-list .create-group-button__icon {
    background-position: 0px -525px;
}
.contact-list-container__body, .contact-list-container__footer {
    background-color: #f5f6f7;
}
.contact-list-container__body {
    position: relative;
    overflow: auto;
    height: 17.8125em;
}
.contact-list-container__footer {
    border-top: 1px solid #dadfea;
}
.contact-list-container__footer .chat-search {
    padding: .615385em 1em;
    font-size: .8125rem;
    display: flex;
    align-items: center;
}
.contact-list-container__footer .chat-search .fa-search {
    color: #bdc2c8;
}
.contact-list-container__footer .chat-search .search-input {
    padding: 0 .538462em;
    flex-grow: 1;
    border: none;
    background-color: inherit;
}
.contact-list-container__footer .chat-search .search-input:focus {
    outline: none;
}
/*======= End conversation list =======*/

/*======= Footer =======*/
.footer {
    padding: 1em 1em 1em 12.8125em;
}
.footer__nav {
    padding-left: 0;
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
}
.footer__nav a {
    font-size: .75rem;
}
.footer__nav li:not(:last-child) {
    margin-right: 1.166667em;
}
.language-list li.active a {
    cursor: auto;
    color: #737373;
}
.language-list li.active a:hover {
    text-decoration: none;
}
.language-list .add-language-button {
    padding: .3em .9em;
    font-size: .625rem;
    color: #737373;
    border: 1px solid #ced0d4;
    background-color: #f6f7f9;
}
.footer .copyright {
    margin-bottom: 0;
    font-size: .6875em;
    color: #737373;
}
/*======= End Footer =======*/


@media screen and (min-width: 576px) {
    .ad-statistic-table .pagination {
        justify-content: flex-end;
        display: flex;
        align-items: center
    }
    .ad-statistic-table .pagination .left-pagination {
        margin-top: 0;
    }
    .ad-statistic-table .pagination .border-left {
        width: .0625em;
        margin: 0 .625em;
        border-left: 1px solid #ccc;
        align-self: stretch;
    }
}

@media screen and (min-width: 768px) {
    .left-aside, section.main {
        margin-top: 15px;   
    }
    .left-aside {
        width: 12.8125em;
        top: 2.75em;
        position: fixed;
    }
    .left-aside .navbar-nav {
        flex-direction: column;
        display: flex;
    }
    section.main {
        margin-left: 12.8125em;
    }
}

@media screen and (min-width: 1200px) {
    section.main {
        margin-right: 12.8125em;
    }
    .main .main-header {
        display: flex;
    }
    .ad-statistic-column {
        margin-top: 0;
        margin-left: 2.5em;
    }
    .right-aside {
        display: block;
    }

    .contact-list-container--collapse, .contact-list-container--open {
        display: none;
    }
}
