.mb-20 {
    margin-bottom: 20px;
}
.detailProfile .photo .media {
    transform: translateY(-50%);
    top: 50%;
    margin-top: 0;
}
.detailProfile .photo .media .media-body p {
    margin-bottom: 0;
}

/*======== document report modal ========*/
.document-report-modal .modal-header::after, .document-report-modal .modal-header::before {
    display: none;
}
.document-report-modal .modal-header {
    padding: 12px 16px;
    justify-content: space-between;
    display: flex;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid rgb(218, 221, 225);
    background-color: rgb(255, 255, 255);
    align-items: center;
}
.document-report-modal .modal-header .title {
    margin: 0;
    font-size: 1rem;
}
.document-report-form {
    text-align: left;
}
.document-report-form .description {
    font-size: 14px;
    display: flex;
    color: #606770;
    align-items: center;
}
.document-report-form .description img {
    margin-right: 8px;
    flex-shrink: 0;
}
.preset-report-option-list {
    padding-left: 0;
    margin: 16px 32px;
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
}
.preset-report-option-list .preset-report-option-item {
    margin: 0 8px 8px 0;
}
.preset-report-option-list .preset-report-option-item button {
    padding: 8px 12px;
    font-size: 14px;
    display: inline-flex;
    border-radius: 20px;
    border: 1px solid #dddfe2;
    background: #f5f6f7;
    align-items: center;
}
.preset-report-option-list .preset-report-option-item.active button {
    color: #fff;
    border: 1px solid #3578e5;
    background: #3578e5;
}
.document-report-form .hint {
    padding: 8px 8px 8px 8px;
    display: flex;
    font-size: 14px;
    color: #90949c;
    border-radius: 3px;
    border: 1px solid #dddfe2;
    align-items: center;
}
.document-report-form .hint .sn-icon {
    margin-right: 8px;
    flex-shrink: 0;
}
.document-report-modal .send-report-button {
    transition: all 300ms cubic-bezier(.1, .7, .1, 1), border-width 1ms;
    color: #fff;
    border-radius: 2px;
    border-color: rgb(53, 120, 229);
    background-color: rgb(53, 120, 229);
}
.document-report-modal .send-report-button:hover {
    border-color: rgb(40, 81, 163);
    background-color: rgb(40, 81, 163);
}
.mainPopupInfoPage .head .overlay {
    width: 100%;
    top: -20px;
    position: absolute;
    left: 0;
    height: 20px;
}

.detailProfile .nda_statis {
    margin: 0 0 20px;
}
/*======== end document report modal ========*/

@media screen and (min-width: 1200px) {
    .right-main .detailProfile {
        width: 300px;
        top: 1px;
        right: 7px;
        position: absolute;
        margin-top: 0;
        display: block;
    }
}
