.mb-20 {
    margin-bottom: 20px;
}
.detailProfile .photo .media {
    transform: translateY(-50%);
    top: 50%;
    margin-top: 0;
}
.detailProfile .photo .media .media-body p {
    margin-bottom: 0;
}


.mainPopupInfoPage .head .head-content {
    display: flex;
}
.mainPopupInfoPage .head .overlay {
    width: 100%;
    top: -20px;
    position: absolute;
    left: 0;
    height: 20px;
}
.mainPopupInfoPage .head .head-content .info {
    min-width: 0;
    flex-grow: 1;
}
.mainPopupInfoPage .head .head-content .info .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mainPopupInfoPage .head .head-content .save_page {
    margin-right: 12px;
}
.mainPopupInfoPage .footer .list-Interactive {
    margin-right: 6px;
}

.detailProfile .nda_statis {
    margin: 0 0 20px;
}
.boxSidebar .list-imgTag img {
    object-fit: cover;
}

@media screen and (min-width: 1200px) {
    .right-main .detailProfile {
        width: 300px;
        top: 1px;
        right: 7px;
        position: absolute;
        margin-top: 0;
        display: block;
    }
}
