.create-ads-modal .modal-body {
    background-color: #e9ebee;
}
.create-ads-modal .left-body {
    width: 36em;
    position: relative;
    overflow: auto;
    max-height: 35.583333em;
}
.create-ads-modal .right-body {
    flex: 1 1 0;
}
.create-ads-modal .left-body__inner {
    margin: 1em 1.333333em;
    background-color: #fff;
}
.des {
    word-break: break-word;
}
.ui-timepicker-wrapper {
    width: 9.5em;
}

.time-and-fee-list {
    display: none;
}
.time-use-select-wrapper {
    width: 12em;
}
.time-use-select {
    width: 80%;
}
/* bootstrap datetime picker */
.bootstrap-datetimepicker-widget.dropdown-menu {
    width: auto;
}
.bootstrap-datetimepicker-widget table td {
    width: auto;
    line-height: inherit;
    height: auto;
}
.bootstrap-datetimepicker-widget table td span {
    width: auto;
    line-height: inherit;
    height: auto;
    font-size: 1.4rem;
}
.bootstrap-datetimepicker-widget table td span:hover {
    background-color: inherit;
}
.bootstrap-datetimepicker-widget table td span:focus {
    outline: none
}
.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
    width: auto;
    font-size: 1.4rem;
}

.ad-review {
    position: relative;
    padding-top: 3.333333em;
    overflow: auto;
    height: 30.666667em;
}
.select-payment-method .email-input input {
    width: 100%;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #dadcde;
}
