footer.footer {
    padding: 1em;
    font-size: 1rem;
}
footer.footer__nav {
    padding-left: 0;
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
}
footer.footer__nav a {
    font-size: .75rem;
}
footer.footer__nav li:not(:last-child) {
    margin-right: 1.166667em;
}
.language-list li.active a {
    cursor: auto;
    color: #737373;
}
.language-list li.active a:hover {
    text-decoration: none;
}

footer .add-language-button {
    padding: .3em .9em;
    font-size: .625rem;
    color: #737373;
    border: 1px solid #ced0d4;
    background-color: #f6f7f9;
}
footer.footer .copyright {
    margin-bottom: 0;
    font-size: .6875em;
    color: #737373;
}

.aside-footer {
    padding: 0 !important;
}
.aside-footer .whiteBox {
    border-radius: 0;
}
.aside-footer nav {
    padding: 10px 10px 0;
}
.aside-footer .copyright {
    padding: 0 10px 10px;
    color: #70737a;
}
footer.footer--dark__nav a {
    color: #949293;
}
@media screen and (min-width: 768px) {
    footer.footer {
        padding-left: 12.8125em;
    }
}
@media screen and (min-width: 1200px) {
    footer.footer {
        padding-right: 12.8125em;
    }
}
