body,
.navbar-fixed-top,
.navbar-fixed-bottom {
    min-width: auto;
}
.container {
    width: auto;
}
header.navbar-fixed-top .container {
    width: auto;
    padding: 0 1.4375em;
}
header.navbar-fixed-top .navbar-brand, header.navbar-fixed-top .row {
    margin: 0 !important;
}
.btn-primary {
    background-color: #3b5998 !important;
}
.sx_90e325 {
    margin-top: 0;
}
.fa-question-square path {
    fill: #949494;
}
header .navbar-header {
    margin: 0 0 0 -5px !important;
}
.header-options {
    top: -4px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.header-options svg {
    height: 24px;
}
.header-options-dialog {
    right: -100px;
    font-weight: 500;
    font-size: 13px;
    background-color: #dde0ef;
}
.header-options-dialog .title {
    white-space: nowrap;
    padding: 0 15px 5px;
    color: #837f7c;
}
.header-options-dialog hr {
    margin: 0;
    border-color: #c6cacd;
}
.header-options .preset-options {
    padding: 0 15px;
    margin: 5px 0;
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
}
.header-options .preset-options > li:not(:last-child) {
    margin-right: 15px;
}
.header-options .preset-options > li > a {
    color: #5270a2;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
header .searchUser, header .setting-menu, header .top-menu {
    display: none;
}
@media screen and (min-width: 576px) {
    header .navbar-header {
        display: block;
    }
    header .top-menu{
        display: inline-block;
    }
    .header-options-dialog .preset-options {
        white-space: nowrap;
    }
    .header-options-dialog {
        right: 0;
        min-width: 400px;
    }
}
@media screen and (min-width: 992px) {
    header .searchUser {
        display: block;
    }
    header .setting-menu {
        display: inline-block;
    }
    .header-options-dialog {
        min-width: 750px;
    }
}
@media screen and (min-width: 1200px) {
    header .searchUser {
        display: block;
    }
    header .setting-menu {
        display: inline-block;
    }
}
