body {
    color: #4a4a4a;
    font-size: 1rem;
    font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
    --orange: #fda216;
}
.text-orange {
    color: var(--orange);
}

header.header .navbar-brand {
    padding: 7.5px 15px;
    height: 60px;
}
header.header .navbar-brand img {
    width: 100%;
    height: auto;
}
header.header .navbar-default {
    margin-bottom: 0;
    border-color: #006c9a;
    background-color: #006c9a;
}
header.header .navbar-default .navbar-nav > li > a, header.header .navbar-default .navbar-text {
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
}
header.header .navbar-default .navbar-nav > li > a:hover, header.header .navbar-default .navbar-text {
    color: #fff;
}
header.header .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: rgba(255, 255, 255, .7);
}
header.header .select-language-button {
    display: flex;
    align-items: center;
}
header.header .select-language-button .fa-chevron-circle-up {
    margin-left: 7px;
    font-size: 1.25rem;
}
header.header .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
header.header .navbar-default .navbar-toggle:focus .icon-bar, header.header .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #888;
}

.find-candiate-profile-button {
    padding: 13px 0 !important;
}
.find-candiate-profile-button div {
    padding: 6px 10px !important;
    border-radius: .25em;
    border: 1px solid #fff;
}

.navbar-nav > li > a > div {
    padding: 15px;
}

section.banner {
    position: relative;
    padding: 40px 20px 350px;
    background-image: radial-gradient(circle at 50% 0, #2DADE4, #0D47A1);
}
section.banner .authentication {
    z-index: 100;
    text-align: right;
    position: relative;
}
section.banner .authentication a {
    padding: 8px 20px;
    font-size: 14px;
    color: #fff;
}
section.banner .authentication a:hover {
    text-decoration: none;
    color: #ffaf3d;
}
section.banner .authentication a.register-button {
    transition: background-color .3s, border-color .3s;
    padding: 8px 35px;
    border-radius: 4px;
    border: 1px solid #fff;
}
section.banner .authentication a.register-button:hover {
    background-color: rgba(0, 0, 0, .1);
}
section.banner .description {
    width: 100%;
    top: 0;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    padding: 5px;
    left: 0;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    display: flex;
    color: #fff;
    align-items: center;
}
section.banner .description h3 {
    text-transform: capitalize;
    margin-top: 0;
    font-weight: 300;
    font-size: 3rem;
}
section.banner .description p {
    font-weight: 300;
    font-size: 1.3125rem;
}

.profile-card-list {
    transform: translate(0, -16.6666666%);
}
.profile-card-list .profile-card-item {
    text-align: center;
    padding: .9375em;
}
.profile-card-list .profile-card-item .profile-card-item__inner {
    padding: 30px 15px 40px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background-color: #fff;
}
.profile-card-list .profile-card-item .title {
    margin: 0 0 20px;
    line-height: 80px;
    font-weight: bold;
    font-size: 3.5rem;
    color: var(--orange);
}
.profile-card-list .profile-card-item:first-child .title {
    font-size: 4.125rem;
}
.profile-card-list .profile-card-item:last-child .title {
    top: 6px;
    position: relative;
    font-size: 3.125rem;
}
.profile-card-list .profile-card-item:nth-child(2) .title {
    top: 4px;
    position: relative;
}
.profile-card-list .profile-card-item .description {
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
}
.profile-card-list .profile-card-item .content {
    margin-bottom: 0;
    color: #717171;
}

.service-tab-list-container {
    margin-top: -115px;
    margin-bottom: 30px;
}
.service-tab-list-container .title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 2rem;
}
.service-tab-list-container .nav-tabs {
    border-bottom: none;
}
.nav-tabs > li.service-tab-item {
    float: none;
}
.nav-tabs > li.service-tab-item > a {
    transition: color .3s;
    text-transform: uppercase;
    padding: 20px 25px;
    display: flex;
    color: #555;
    border: none;
}
.nav-tabs > li.service-tab-item > a > i, .nav-tabs > li.service-tab-item > a > svg {
    margin-left: 5px;
}
.nav-tabs > li.service-tab-item > a:hover, .nav-tabs > li.service-tab-item > a:focus {
    outline: none;
    color: var(--orange);
    background-color: #fff;
}
.nav-tabs > li.service-tab-item.active > a, .nav-tabs > li.service-tab-item.active > a:focus, .nav-tabs > li.service-tab-item.active > a:hover {
    font-size: 1rem;
    color: var(--orange);
    box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, .2);
    border-top: 3px solid var(--orange) !important;
    border: none;
}
.service-tab-list-container .tab-content {
    padding: 25px 50px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .2);
    border: none;
}

.service-tab-list-container .tab-content .content-list {
    padding-left: 0;
    list-style-type: none;
}
.service-tab-list-container .tab-content .content-list .content-item {
    display: flex;
}
.service-tab-list-container .tab-content .content-list .content-item + .content-item {
    margin-top: 10px;
}
.service-tab-list-container .tab-content .content-list .content-item .fa-check {
    margin-right: 5px;
    font-size: 1.2em;
    color: #7ed320;
}
.service-tab-list-container .tab-content .view-detail-button {
    padding: 8px 20px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1rem;
    display: inline-block;
    color: var(--orange);
    border: 1px solid var(--orange);
}
.service-tab-list-container .tab-content .view-detail-button:hover {
    text-decoration: none;
}

.contact-form-container {
    padding: 1.875em;
    background-color: #f3f3f3;
}
.contact-form-container .title {
    font-size: 50px;
    color: #4a4a4a;
}
.contact-form-container .contact-number {
    font-weight: 500;
    font-size: 35px;
}
.contact-form {
    grid-gap: 0 1.875em;
    display: grid;
}
.contact-form .form-control {
    outline: none;
    border-top: 2px solid #b3c7df;
}
.contact-form .form-group input.form-control {
    padding: 18px;
    height: auto;
}
.contact-form .content-input textarea {
    resize: none;
    height: 100%;
}
.contact-form .website-input {
    margin-top: 15px;
}
.contact-form .advisory-button {
    margin: 15px 0;
    font-weight: 500;
    font-size: 20px;
    color: var(--orange);
    border: 1px solid var(--orange);
    background-color: #fff;
}

footer.footer {
    padding: 30px 10px;
    text-align: center;
    font-size: 12px;
    color: #76a4be;
    background-color: #005385;
}

@media (min-width: 576px) {
    .nav-tabs > li.service-tab-item {
        float: left;
    }
    .contact-form {
        grid-template-columns: 1fr 1fr;
    }
    .contact-form .content-input {
        grid-row: 1 / 4;
        grid-column: 2 / 3;
    }
    .contact-form .email-input {
        margin-bottom: 0;
    }
    .contact-form .website-input {
        margin-bottom: 15px;
    }
}
@media (min-width: 768px) {
    section.banner {
        padding: 40px 100px 350px;
    }
    header.header .navbar {
        border-radius: 0;
    }
    .navbar-nav > li > a {
        padding: 5px 0;
    }
    .service-tab-list-container .tab-content .content-list {
        padding-left: 40px;
    }
    .contact-form {
        width: 75%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    header.header .container-fluid {
        padding: 0 54px;
    }
    header.header .navbar-default .navbar-left {
        margin-left: 60px;
    }
    .profile-card-list {
        transform: translate(0, -50%);
        display: flex;
    }
    .service-tab-list-container {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 1200px) {
    header.header .container-fluid {
        padding: 0 89.5px;
    }
    .profile-card-list {
        padding: 0 12.5em;
    }
}
@media (max-width: 991px) {
    .profile-card-list {
        padding: 0 8.5em;
    }
}
@media (max-width: 575px) {
    .profile-card-list {
        padding: 0;
    }
}

