body,
.navbar-fixed-bottom {
    min-width: auto;
}
.term-of-service {
    padding-top: 2.8125em;
    font-size: 16px;
    --cadet-blue: #6ca0b6;
    --coral: #e9785b;
    --dark-cyan: #31a38d;
    --hot-pink: #f36b7f;
    --golden-rod: #fcd872;
}
aside a, aside a:hover {
    color: #4b4f56;
}
.container {
    width: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.circle-icon-wrapper {
    display: flex;
    align-items: center;
}
.circle-icon {
    width: 1.75em;
    height: 1.75em;
    flex-shrink: 0;
    display: flex;
    border-radius: 50%;
    align-items: center;
}
.circle-icon i {
    font-size: 1.5em;
}
.term-of-service__top-nav > li {
    cursor: pointer;
    border-bottom: 1px solid #c7cdd9;
}
.term-of-service__top-nav .collapse-icon {
    margin: 1em .625em 1em 0;
}
.term-of-service__top-nav .collapse-icon i {
    transition: .2s transform;
    margin-top: -.083333em;
    margin-left: .083333em;
    font-size: 1.5em;
    color: #fff;
}
.term-of-service__top-nav > li.open .collapse-icon i {
    transform-origin: 50% 53%;
    transform: rotateZ(90deg);
}
.term-of-service__top-nav li:first-child .collapse-icon {
    background-color: var(--cadet-blue);
}
.term-of-service__top-nav li:nth-child(5n+2) .collapse-icon {
    background-color: var(--coral);
}
.term-of-service__top-nav li:nth-child(5n+3) .collapse-icon {
    background-color: var(--dark-cyan);
}
.term-of-service__top-nav li:nth-child(5n+4) .collapse-icon {
    background-color: var(--hot-pink);
}
.term-of-service__top-nav li:last-child .collapse-icon {
    background-color: var(--golden-rod);
}
.term-of-service__top-nav > li a {
    flex: 1 1 auto;
    padding: 1em 0;
    font-size: .875em;
}
.term-of-service__top-nav > li:first-child:hover, .term-of-service__top-nav > li.open:first-child {
    background-color: var(--cadet-blue);
}
.term-of-service__top-nav > li:nth-child(5n+2):hover, .term-of-service__top-nav > li.open:nth-child(5n+2) {
    background-color: var(--coral);
}
.term-of-service__top-nav > li:nth-child(5n+3):hover, .term-of-service__top-nav > li.open:nth-child(5n+3) {
    background-color: var(--dark-cyan);
}
.term-of-service__top-nav > li:nth-child(5n+4):hover, .term-of-service__top-nav > li.open:nth-child(5n+4) {
    background-color: var(--hot-pink);
}
.term-of-service__top-nav > li:nth-child(5n+5):hover, .term-of-service__top-nav > li.open:nth-child(5n+5) {
    background-color: var(--golden-rod);
}
.term-of-service__top-nav > li:hover .collapse-icon, .term-of-service__top-nav > li.open .collapse-icon {
    background-color: #fff;
}
.term-of-service__top-nav > li:first-child:hover .collapse-icon i, .term-of-service__top-nav > li.open:first-child .collapse-icon i {
    color: var(--cadet-blue);
}
.term-of-service__top-nav > li:nth-child(5n+2):hover .collapse-icon i, .term-of-service__top-nav > li.open:nth-child(5n+2) .collapse-icon i {
    color: var(--coral);
}
.term-of-service__top-nav > li:nth-child(5n+3):hover .collapse-icon i, .term-of-service__top-nav > li.open:nth-child(5n+3) .collapse-icon i {
    color: var(--dark-cyan);
}
.term-of-service__top-nav > li:nth-child(5n+4):hover .collapse-icon i, .term-of-service__top-nav > li.open:nth-child(5n+4) .collapse-icon i {
    color: var(--hot-pink);
}
.term-of-service__top-nav > li:nth-child(5n+5):hover .collapse-icon i, .term-of-service__top-nav > li.open:nth-child(5n+5) .collapse-icon i {
    color: var(--golden-rod);
}
.term-of-service__top-nav > li:hover a, .term-of-service__top-nav > li.open a {
    color: #fff;
}
.term-of-service__top-nav > li a:hover {
    text-decoration: none;
}
.term-of-service__top-nav > li > div {
    padding-left: .75em;
}
.term-of-service__top-nav .sub-menu {
    margin-bottom: .5em;
    font-size: .9375em;
}
.term-of-service__top-nav .sub-menu > li {
    padding: .25em .5em .25em 5.625em;
    display: flex;
    align-items: flex-start;
}
.term-of-service__top-nav .sub-menu > li:before {
    margin-right: .8em;
    content: '•';
    color: #fff;
}
.term-of-service__top-nav > li:first-child .sub-menu > li:hover {
    background-color: #396a7e;
}
.term-of-service__top-nav > li:nth-child(5n+3) .sub-menu > li:hover {
    background-color: #1a816e;
}
.term-of-service__top-nav > li:nth-child(5n+4) .sub-menu > li:hover {
    background-color: #e04c60;
}
.term-of-service__top-nav .sub-menu > li a {
    padding: 0;
}
.term-of-service__top-nav .sub-menu > li a:hover {
    background-color: inherit;
}

.term-of-service__bottom-nav > li {
    border-bottom: 1px solid #fff;
    background-color: #dddfe2;
}
.term-of-service__bottom-nav > li > a, .term-of-service__bottom-nav > li.have-sub-menu > div {
    padding: 1.5em 0 1.5em 4.1875em;
    display: flex;
}
.term-of-service__bottom-nav > li > a:hover {
    background-color: #a4a4a4;
}
.term-of-service__bottom-nav > li > a > span, .term-of-service__bottom-nav > li.have-sub-menu > div > span {
    font-size: .875em;
}
.term-of-service__bottom-nav > li > a > i, .term-of-service__bottom-nav > li.have-sub-menu > div > i {
    margin-right: .5em;
    font-size: 1.3em;
}
.term-of-service__bottom-nav > li.have-sub-menu {
    padding: 1.5em 0 1em;
}
.term-of-service__bottom-nav > li.have-sub-menu > div {
    padding: 0 0 .5em 4.1875em;
    display: flex;
}
.term-of-service__bottom-nav > li.have-sub-menu > ul {
    padding-left: 0;
    list-style: none;
}
.term-of-service__bottom-nav > li.have-sub-menu > ul > li {
    position: relative;
    padding: .25em 0 .25em 6.25em;
}
.term-of-service__bottom-nav > li.have-sub-menu > ul > li:before {
    top: 8px;
    position: absolute;
    left: 88px;
    font-size: .8em;
    content: "\2022";
    color: #4b4f56;
}
.term-of-service__bottom-nav > li.have-sub-menu > ul > li:hover {
    background-color: #a4a4a4;
}
.term-of-service__bottom-nav > li.have-sub-menu > ul > li > a {
    font-size: .8em;
}
.term-of-service__bottom-nav > li.have-sub-menu > ul > li > a:hover {
    text-decoration: none;
}

.term-of-service__main-content img {
    width: 100%;
    height: auto;
}
.return-to-top:hover {
    text-decoration: none;
}
.return-to-top .circle-icon {
    margin-right: .75em;
}
.term-detail-item:first-child .return-to-top {
    color: var(--cadet-blue);
}
.term-detail-item:nth-child(5n+2) .return-to-top {
    color: var(--coral);
}
.term-detail-item:nth-child(5n+3) .return-to-top {
    color: var(--dark-cyan);
}
.term-detail-item:nth-child(5n+4) .return-to-top {
    color: var(--hot-pink);
}
.term-detail-item:nth-child(5n+5) .return-to-top {
    color: var(--golden-rod);
}
.term-detail-item:first-child .return-to-top:hover {
    color: #396a7e;
}
.term-detail-item:first-child .circle-icon {
    background-color: var(--cadet-blue);
}
.term-detail-item:nth-child(5n+2) .circle-icon {
    background-color: var(--coral);
}
.term-detail-item:nth-child(5n+3) .circle-icon {
    background-color: var(--dark-cyan);
}
.term-detail-item:nth-child(5n+4) .circle-icon {
    background-color: var(--hot-pink);
}
.term-detail-item:nth-child(5n+5) .circle-icon {
    background-color: var(--golden-rod);
}
.term-detail-item:first-child .return-to-top:hover .circle-icon {
    background-color: #396a7e;
}
.term-detail-item .circle-icon i {
    margin-top: -.166667em;
    margin-left: .208333em;
    color: #fff;
}
.term-detail-item:first-child h3.title {
    color: var(--cadet-blue);
}
.term-detail-item:nth-child(5n+2) h3.title {
    color: var(--coral);
}
.term-detail-item:nth-child(5n+3) h3.title {
    color: var(--dark-cyan);
}
.term-detail-item:nth-child(5n+4) h3.title {
    color: var(--hot-pink);
}
.term-detail-item:nth-child(5n+5) h3.title {
    color: var(--golden-rod);
}
.term-detail-item h3.title {
    margin: .666667em 0;
    font-weight: normal;
    font-size: 2.25em;
}
.term-detail-item .description {
    margin-bottom: 0;
}
.content-list .content-item {
    margin: 1.875em 0;
    display: flex;
    align-items: flex-start;
}
.term-detail-item .content-list .content-item h4.title {
    margin: 0 0 .3em 0;
}
.term-detail-item .content-list .content-item .border {
    padding-right: 1.125em;
    height: 3.5em;
}

.term-detail-item:first-child .content-list .content-item .border {
    border-left: 5px solid var(--cadet-blue);
}
.term-detail-item:nth-child(5n+2) .content-list .content-item .border {
    border-left: 5px solid var(--coral);
}
.term-detail-item:nth-child(5n+3) .content-list .content-item .border {
    border-left: 5px solid var(--dark-cyan);
}
.term-detail-item:nth-child(5n+4) .content-list .content-item .border {
    border-left: 5px solid var(--hot-pink);
}
.term-detail-item:nth-child(5n+5) .content-list .content-item .border {
    border-left: 5px solid var(--golden-rod);
}

.guess-only-popup {
    padding: 2.5em;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.2);
    background: rgba(255, 255, 255, .95);
}
.guess-only-poup__inner {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.guess-only-poup__inner .view-more {
    font-size: 1.2em;
}
.guess-only-poup__inner .btn {
    width: 16.125em;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color;
    height: 3em;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    border-radius: inherit;
}
.guess-only-poup__inner > div {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.guess-only-poup__inner .signin-button {
    background-color: #4267b2;
}
.guess-only-poup__inner .signin-button:hover {
    background-color: #365899;
}
.guess-only-poup__inner .signup-button {
    background-color: #42b72a;
}
.guess-only-poup__inner .signup-button:hover {
    background-color: #36a420;
}
@media screen and (min-width: 768px) {
    .guess-only-poup__inner > div {
        flex-direction: row;
    }
}
